* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*-----------Variables-----------*/
/*-----------Variables-----------*/
/*---------Customs---------*/
html, body {
  font-size: 16px;
  line-height: 25px;
  height: 100%; }

body {
  width: 100%;
  min-width: 1000px;
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
  font-family: "Arial", sans-serif; }

.all {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

.left {
  float: left; }

.right {
  float: right; }

.last {
  margin-right: 0 !important; }

.text__left {
  text-align: left; }

.text__center {
  text-align: center; }

.text__right {
  text-align: right; }

.clear {
  clear: both; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

img {
  max-width: 100%;
  height: auto;
  outline: none; }
  img:focus {
    outline: none; }

a {
  color: #000;
  outline: none;
  text-decoration: none; }
  a:focus, a:active, a:hover {
    color: #000;
    outline: none;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 0;
  font-family: "Arial", sans-serif; }

.fixed {
  width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 999; }

.flex__video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.38889rem;
  position: relative; }
  .flex__video iframe, .flex__video object, .flex__video embed, .flex__video video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.table__container {
  overflow-y: auto;
  width: 100%; }

ul {
  list-style: none; }

.button {
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
  padding: 12px;
  margin: 0;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 0;
  background: #ff5a31;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }
  .button:hover {
    opacity: 0.75; }

.add__favorite {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("../../images/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -28px; }
  .add__favorite.active {
    background: url("../../images/sprite.png");
    background-repeat: no-repeat;
    background-position: -24px -28px; }

.letter__icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  background: #000;
  text-align: center;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  line-height: 20px; }

.food__link {
  text-decoration: none; }
  .food__link:hover {
    text-decoration: none; }
  .food__link span {
    display: inline-block;
    vertical-align: middle; }
    .food__link span .letter__icon {
      margin-right: 6px; }

.text__label {
  position: relative;
  padding: 0 5px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #edd857; }

/*---------Customs---------*/
/*---------Forms---------*/
label.active {
  font-weight: bold; }

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dedede;
  outline: none;
  font-size: 1rem;
  line-height: 1; }

button {
  cursor: pointer; }

textarea {
  resize: none;
  min-height: 70px; }

select {
  outline: 0;
  border-radius: 0;
  border: 1px solid #dedede;
  padding: .375rem .9375rem .375rem .3125rem;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
  -webkit-padding-end: 25px;
  -webkit-padding-start: 5px;
  -moz-padding-end: 25px;
  -moz-padding-start: 5px;
  padding-end: 25px;
  padding-start: 5px;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-indent: 0;
  color: #000;
  background: url("../../images/arrow.svg") 95% 50% no-repeat;
  background-size: 12px; }

select::-ms-expand {
  display: none; }

::-webkit-input-placeholder {
  color: #000;
  text-overflow: ellipsis; }

::-moz-placeholder {
  color: #000;
  text-overflow: ellipsis;
  opacity: 1; }

::-ms-input-placeholder {
  color: #000;
  text-overflow: ellipsis; }

.filter .form__row:first-child {
  padding-top: 0; }
.filter .form__row:last-child {
  padding-bottom: 0; }

.filter__title {
  font-size: 1.125rem;
  line-height: 1; }
  .filter__title.time, .filter__title.complexity, .filter__title.feature {
    position: relative; }
    .filter__title.time:before, .filter__title.complexity:before, .filter__title.feature:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0; }
    .filter__title.time.time, .filter__title.complexity.time, .filter__title.feature.time {
      padding-left: 30px; }
      .filter__title.time.time:before, .filter__title.complexity.time:before, .filter__title.feature.time:before {
        width: 19px;
        height: 19px;
        background: url("../../images/sprite.png");
        background-repeat: no-repeat;
        background-position: -57px 0; }
    .filter__title.time.complexity, .filter__title.complexity.complexity, .filter__title.feature.complexity {
      padding-left: 35px; }
      .filter__title.time.complexity:before, .filter__title.complexity.complexity:before, .filter__title.feature.complexity:before {
        width: 27px;
        height: 17px;
        background: url("../../images/sprite.png");
        background-repeat: no-repeat;
        background-position: -83px 0; }
    .filter__title.time.feature, .filter__title.complexity.feature, .filter__title.feature.feature {
      padding-left: 30px; }
      .filter__title.time.feature:before, .filter__title.complexity.feature:before, .filter__title.feature.feature:before {
        width: 17px;
        height: 19px;
        background: url("../../images/sprite.png");
        background-repeat: no-repeat;
        background-position: -118px 0; }

.filter__group {
  padding: 5px 0 0 35px; }

.form__section {
  padding: 10px 0 0; }

.form__row {
  padding: 5px 0; }

.input__row {
  padding: 2px 0; }
  .input__row input[type="checkbox"] {
    display: none; }
  .input__row label {
    position: relative;
    padding-left: 25px; }
    .input__row label:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #dedede; }
    .input__row label:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 10px;
      height: 10px;
      background: url("../../images/check.svg") no-repeat;
      background-size: 100%;
      opacity: 0; }
  .input__row input[type="checkbox"]:checked + label:after {
    opacity: 1; }

/*---------Forms---------*/
/*-----------Header-----------*/
header .main__search {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5625; }
header .main__search--input,
header .search__sub--link {
  padding: 15px 70px 15px 10px; }
header .search__sub {
  top: 50px; }

.header__container {
  padding: 20px 15px;
  font-size: 0; }
  .header__container [class^=col-] {
    float: none;
    display: inline-block;
    vertical-align: middle; }

.header__row {
  font-size: 0; }
  .header__row .main__logo,
  .header__row .main__search {
    display: inline-block;
    vertical-align: middle; }
  .header__row .main__logo {
    width: 30%;
    padding-right: 20px; }
    .header__row .main__logo img {
      display: block; }
  .header__row .main__search {
    width: 70%; }

.header__menu {
  float: right;
  font-size: 1rem;
  line-height: 1.5625; }

.header__menu--list {
  list-style-type: none; }

.header__menu--child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px; }
  .header__menu--child:last-child {
    margin-right: 0; }

.user__link {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  font-size: 1.125rem;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: #e6e6e6;
  border-radius: 50%;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }
  .user__link:hover {
    color: #ff5a31;
    text-decoration: none; }

.header__inside {
  border-bottom: 1px solid #dedede; }

/*-----------Header-----------*/
/*-----------Home-----------*/
.main {
  padding: 5% 0 30px; }

.main__container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px; }

.main__logo {
  text-align: center; }

.main__search {
  position: relative;
  margin: 20px 0 0; }

.main__search--row {
  position: relative; }

.main__search--input {
  padding: 20px 70px 20px 10px; }

.main__search--submit {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  font-size: 0px;
  border: none;
  outline: none;
  box-shadow: none;
  background: #ff5a31;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }
  .main__search--submit:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 26px;
    margin-top: -13px;
    margin-left: -13px;
    background: url("../../images/sprite.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .main__search--submit:hover {
    opacity: 0.75; }

.search__sub {
  display: none;
  position: absolute;
  width: 100%;
  width: calc(100% - 60px);
  top: 60px;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border: 1px solid #dedede;
  z-index: 2; }

.search__sub--list {
  list-style-type: none; }

.search__sub--child {
  display: block;
  border-top: 1px solid #dedede; }
  .search__sub--child:first-child {
    border-top: none; }

.search__sub--link {
  position: relative;
  display: block;
  line-height: 1;
  padding: 20px 70px 20px 10px; }
  .search__sub--link:before, .search__sub--link:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 16px;
    height: 1px;
    background: #dedede; }
  .search__sub--link:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .search__sub--link:hover, .search__sub--link.active {
    text-decoration: none;
    outline: 1px solid #ff5a31;
    color: #ff5a31; }
    .search__sub--link:hover:before, .search__sub--link:hover:after, .search__sub--link.active:before, .search__sub--link.active:after {
      background: #ff5a31; }

.main__search--desc {
  padding: 10px 0 0; }
  .main__search--desc span {
    color: #666666; }

.main__posts {
  padding: 40px 0 0; }

.post__item {
  position: relative;
  margin: 20px 0 0;
  padding: 10px 0;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #dedede; }
  .post__item:first-child {
    margin-top: 0; }

.post__title {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 1; }
  .post__title.news {
    padding-left: 25px; }
    .post__title.news:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 18px;
      height: 15px;
      background: url("../../images/sprite.png");
      background-repeat: no-repeat;
      background-position: -33px 0; }

.post__date {
  float: right; }

.post__body {
  padding: 5px 0 0; }

.post__read {
  float: right; }

/*-----------Home-----------*/
/*-----------Catalog-----------*/
.page__inside {
  padding: 0 0 30px; }

.result__filters {
  position: relative;
  border-bottom: 1px solid #dedede; }

.catalog {
  padding: 10px 0; }

.catalog__item {
  position: relative;
  padding: 20px 0 20px 100px;
  min-height: 80px;
  font-size: 0; }

.catalog__item--image,
.catalog__item--content {
  position: relative;
  display: inline-block;
  vertical-align: top; }

.catalog__item--image {
  position: absolute;
  top: 20px;
  left: 0;
  width: 80px; }

.catalog__item--content {
  font-size: 1rem;
  line-height: 1.5625; }

.catalog__item--headline {
  font-size: 1.125rem; }

.catalog__item--links {
  padding: 5px 0 0; }
  .catalog__item--links .food__link {
    margin-right: 6px; }

.catalog__item--filter {
  padding: 10px 0 0; }
  .catalog__item--filter .filter__title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    font-size: 1rem; }
    .catalog__item--filter .filter__title:before {
      top: -2px; }
    .catalog__item--filter .filter__title:last-child {
      margin-right: 0; }

.catalog__item--desc {
  padding: 10px 0 0; }
  .catalog__item--desc span {
    color: #666666; }

.pagination {
  padding: 10px 0 0;
  text-align: center;
  color: #666666; }

.pagination__list {
  list-style-type: none; }

.pagination__child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px; }
  .pagination__child:last-child {
    margin-right: 0; }

.pagination__child--prev {
  margin-right: 16px; }

.pagination__child--next {
  margin-left: 16px; }

.pagination__link {
  text-decoration: none;
  color: #666666; }
  .pagination__link:hover {
    color: #666666; }

.pagination__link--disabled {
  cursor: default;
  opacity: 0.5;
  text-decoration: none; }
  .pagination__link--disabled:hover {
    text-decoration: none; }

.pagination__link--active {
  color: #ff5a31;
  text-decoration: underline; }
  .pagination__link--active:hover {
    color: #ff5a31; }

/*-----------Catalog-----------*/
/*-----------Article-----------*/
.article table {
  margin-top: 20px; }
  .article table th, .article table td {
    padding: 5px; }
.article h1, .article h2, .article h3, .article p, .article img {
  padding-bottom: 1rem; }

/*-----------Article-----------*/
/*-----------Footer-----------*/
footer {
  background: #f2f2f2; }

.footer__container {
  padding: 20px 15px; }

.social--list {
  list-style-type: none; }

.social--child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px; }
  .social--child:last-child {
    margin-right: 0; }

.footer__menu {
  float: right; }

.footer__menu--list {
  list-style-type: none; }

.footer__menu--child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px; }
  .footer__menu--child:last-child {
    margin-right: 0; }

/*-----------Footer-----------*/
/*-----------Media-----------*/
@media (max-width: 1365px) {
  html, body {
    font-size: 14px;
    line-height: 20px; }

  .header__menu--child,
  .footer__menu--child,
  .social--child {
    margin-right: 15px; } }
/*-----------Media-----------*/
